/*! Thea | MIT License | github.com/picturepan2/thea */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a:focus {
  box-shadow: none;
}

.phantom-header {
  background: #fff;
  border-bottom: 1px solid #f7f8fa;
  height: 3rem;
}

.phantom-header .logo {
  box-shadow: none; 
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar {
  height: 3rem;
  padding: .5rem 0;
}

.navbar .nav {
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar .nav .nav-item {
  margin-top: 0;
}

.navbar .nav .nav-current a {
  border-bottom: 2px solid #0145dd;
  color: #0145dd;
}

.navbar .nav a {
  color: #4b5663;
  font-weight: 700;
  margin: 0 .3rem;
  padding: .3rem .1rem;
}

.navbar .nav a:focus,
.navbar .nav a:hover {
  color: #0145dd;
}

.navbar .social-link,
.navbar .rss-button {
  height: 1.2rem;
  margin-left: .6rem;
  width: 1.2rem;
}

.phantom-footer {
  color: #a4a9b0;
  margin-top: .1rem;
  opacity: .65;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.phantom-footer a {
  color: #4b5663;
}

.phantom-footer .footer-nav {
  margin-bottom: 1rem;
}

.phantom-meta {
  margin-bottom: 2px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.phantom-meta .meta-title {
  color: #333;
  font-size: 1.4rem;
  font-weight: 700;
}

.phantom-meta .meta-description {
  font-size: .7rem;
}

.phantom-meta .meta-avatar {
  margin-bottom: .5rem;
}

.phantom-meta .meta-profile {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: .5rem;
}

.phantom-meta .meta-stats,
.phantom-meta .meta-location {
  display: inline-block;
  height: 1.2rem;
  line-height: 1.2rem;
}

.phantom-meta .social-link {
  display: inline-block;
  height: 1.2rem;
  margin: 0 .3rem;
  width: 1.2rem;
}

.phantom-meta .divider-dot {
  margin: 0 .2rem;
}

.phantom-body {
  background: #f7f8fa;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.phantom-body .columns {
  margin-left: -.8rem;
  margin-right: -.8rem;
}

.phantom-body .columns .column {
  padding: .8rem .8rem;
}

.phantom-body .card {
  border: 0;
  border-radius: .2rem;
  box-shadow: 0 .05rem 1rem rgba(51, 51, 51, .05);
  height: 100%;
  transition: all .35s ease;
}

.phantom-body .card:hover {
  box-shadow: 0 .3rem 1rem rgba(51, 51, 51, .25);
  transform: translateY(-2px);
}

.phantom-body .card .card-header {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.phantom-body .card .post-card-image {
  background-position: center center;
  background-size: cover;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
  height: 0;
  padding-bottom: 60%;
  width: 100%;
}

.phantom-body .card .post-card-title {
  display: -webkit-box;
  font-size: .9rem;
  font-weight: 500;
  height: 3.75rem;
  -webkit-line-clamp: 3; 
  line-height: 1.25rem;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.phantom-body .card .post-card-date {
  opacity: .5;
}

.phantom-body .card .card-link {
  box-shadow: none;
  color: #4b5663;
}

.phantom-body .card .card-link:focus,
.phantom-body .card .card-link:hover {
  color: #333;
  text-decoration: none;
}

.phantom-body .pagination {
  -ms-flex-pack: center;
  justify-content: center;
}

.phantom-body .pagination a {
  color: #4b5663;
}

.phantom-body .pagination a:focus,
.phantom-body .pagination a:hover {
  color: #0145dd;
}

.phantom-body .empty {
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.phantom-body .empty .empty-title {
  color: #cdd0d4;
  font-size: 10vw;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.phantom-body .empty .empty-subtitle {
  color: #a4a9b0;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.phantom-post {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.post-full {
  letter-spacing: -.021em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.post-full .post-full-image {
  margin: 1.5rem -2.4rem;
}

.post-full .post-full-image img {
  height: auto; 
  max-width: 100%;
}

.post-full .post-full-title {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.4;
}

.post-full .post-full-meta {
  color: #a4a9b0;
}

.post-full .post-full-meta a {
  color: #a4a9b0;
}

.post-full .post-full-meta a:focus,
.post-full .post-full-meta a:hover {
  color: #4b5663;
}

.post-full .post-full-content {
  color: #4b5663;
  font-size: .8rem;
  margin: 1.2rem 0;
}

.post-full .post-full-content img {
  height: auto; 
  max-width: 100%;
}

.post-full .post-full-content h1,
.post-full .post-full-content h2,
.post-full .post-full-content h3,
.post-full .post-full-content h4,
.post-full .post-full-content h5,
.post-full .post-full-content h6 {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.post-full .post-full-content p {
  line-height: 1.6;
  margin: 1.2rem 0;
}

.post-full .post-full-content hr {
  border: 0;
  height: .1rem;
  margin: 1.5rem 0;
  position: relative;
}

.post-full .post-full-content hr::before {
  background: #4b5663;
  content: "";
  display: inline-block;
  height: .1rem;
  left: 50%;
  margin-left: -1rem;
  position: absolute;
  top: 50%;
  width: 2rem;
}

.post-full .post-full-tags .tags {
  list-style: none;
  margin: 0;
}

.post-full .post-full-tags .tags li {
  display: inline-block;
}

.post-full .post-full-tags .tags .tag {
  padding: .4rem;
}

.post-full .post-full-tags .tags .tag:focus,
.post-full .post-full-tags .tags .tag:hover {
  background: rgba(1, 69, 221, .05);
  text-decoration: none;
}

.post-full .post-full-tags + .post-full-title {
  margin-top: 1rem;
}