/*! Thea | MIT License | github.com/picturepan2/thea */
// Variables
@import "variables";

// Core
.container {
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

// Reset
a {
  &:focus {
    box-shadow: none;
  }
}

// Header & Footer
.thea-header {
  background: $light-color;
  border-bottom: 1px solid $bg-color;
  height: 3rem;
  
  .logo {
    color: lighten($dark-color, 10%);  
    font-size: 1.2rem;
    font-weight: 700;
    box-shadow: none;
  }
}

.navbar {
  height: 3rem;
  padding: .5rem 0;

  .nav {
    flex-direction: row;

    .nav-item {
      margin-top: 0;
    }

    .nav-current {
      & {
        a {
          border-bottom: 2px solid $primary-color;
          color: $primary-color;
        }
      }
    }

    a {
      color: $font-color;
      font-weight: 700;
      margin: 0 .3rem;
      padding: .3rem .1rem;

      &:focus,
      &:hover {
        color: $primary-color;
      }
    }
  }

  .rss-button,
  .social-button {
    height: 1.2rem;
    margin-left: .8rem;
    width: 1.2rem;
  }

  .search {
    display: inline-flex;
    height: 3rem;
    
    &:hover,
    &.active {
      border-bottom: .1rem solid lighten($dark-color, 10%);
    }

    .search-form {
      align-items: center;
      display: inline-flex;
      flex: 1 1 auto;
      height: 3rem;
      max-width: 7rem;
    }

    .search-input {
      background: transparent;
      border-color: transparent;
      border-radius: 0;
      box-shadow: none;
      flex: 1 1 auto;
      line-height: $unit-4;
      max-width: 5.8rem;
      width: auto;
    }

    .search-btn {
      background-image: url("../icons/search.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      flex: 0 0 auto;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}

.thea-footer {
  color: lighten($gray-color, 10%);
  padding-bottom: 2rem;
  padding-top: 2rem;

  a {
    color: darken($gray-color, 10%);
  }

  .footer-nav {
    margin-bottom: 1rem;
  }

  .copyright {
    line-height: 1.8;
  }
}

// Meta
.thea-meta {
  margin-bottom: 2px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;

  .meta-title {
    color: lighten($dark-color, 10%);
    font-size: 1.4rem;
    font-weight: 700;
  }

  .meta-description {
    font-size: .7rem;
  }

  .meta-avatar {
    margin-bottom: .5rem;
  }

  .meta-profile {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
  }

  .meta-stats,
  .meta-location {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
  }

  .social-link {
    display: inline-block;
    height: 1.2rem;
    margin: 0 .3rem;
    width: 1.2rem;
  }

  .divider-dot {
    margin: 0 .2rem;
  }
}

// Feed
.thea-body {
  background: $bg-color;
  padding-bottom: 1rem;
  padding-top: 1rem;

  .card {
    border: 0;
    border-radius: $border-radius;
    box-shadow: 0 .05rem 1rem rgba(#333, .05);
    height: 100%;
    transition: all .35s ease;

    &:hover {
      box-shadow: 0 .3rem 1.5rem rgba(#333, .25);
      transform: translateY(-2px);
    }

    .card-header {
      flex: 1 1 auto;
    }

    .post-card-image {
      background-position: center center;
      background-size: cover;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      height: 0;
      padding-bottom: 60%;
      width: 100%;
    }

    .post-card-title {
      display: -webkit-box;
      font-size: .9rem;
      font-weight: 500;
      height: 3.75rem;
      line-height: 1.25rem;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .post-card-date {
      opacity: .5;
    }

    .card-link {
      box-shadow: none;
      color: $font-color;

      &:focus,
      &:hover {
        color: $dark-color;
        text-decoration: none;
      }
    }
  }

  .pagination {
    justify-content: center;
  }

  .empty {
    .empty-title,
    .empty-subtitle {
      margin-bottom: 1rem;
    }
  }
}

// Post
.thea-post {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.post {
  letter-spacing: -.021em;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;

  .post-image {
    margin: 1.5rem -2.4rem;
    max-height: 640px;
    text-align: center;
    
    img {
      max-height: 640px;
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .post-title {
    color: $dark-color;
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .post-meta {
    color: $gray-color;

    a {
      color: $gray-color;

      &:focus,
      &:hover {
        color: $font-color;
      }
    }
  }

  .post-like {
    margin: 2rem 0;
    text-align: center;
    width: 100%;

    .modal-body {
      max-height: none;
    }
  }

  .post-meta-tags {
    .tag {
      margin-right: .2rem;
      margin-top: .2rem;
      padding: .4rem;

      &:focus,
      &:hover {
        background: rgba($primary-color, .05);
        text-decoration: none;
      }
    }

    & + .post-title {
      margin-top: 1rem;
    }
  }

  .post-content {
    color: $font-color;
    font-size: .8rem;
    margin: 1.2rem 0;

    img {
      max-width: 100%;
      height: auto;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1.2rem;
      margin-top: 1.2rem;
    }

    ol,
    ul {
      margin-bottom: 1rem;
      margin-top: .5rem;
    }

    li {
      line-height: 1.8;
      margin-top: .5rem;
    }
  
    p {
      line-height: 1.8;
      margin: 1.2rem 0;
    }
  
    hr {
      border: 0;
      height: .1rem;
      margin: 1.5rem 0;
      position: relative;
  
      &::before {
        background: $font-color;
        content: "";
        display: inline-block;
        height: .1rem;
        left: 50%;
        margin-left: -1rem;
        position: absolute;
        top: 50%;
        width: 2rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .post {
    padding-left: .5rem;
    padding-right: .5rem;

    .post-image {
      margin: 1.5rem -.9rem;
    }
  }
}

// Comments
.post-comments {
  margin-top: 4rem;

  .comments-list {
    margin: 2rem 0;

    .children {
      margin-left: 2rem;
    }
  }

  .tile-comment {
    p {
      margin-bottom: .5rem;
    }
  }

  .comment-actions {
    display: none;
    margin-left: 1rem;
  }

  .tile {
    &:hover {
      .comment-actions {
        display: inline-block;
      }
    }
  }

  .form {
    margin: 1rem 0;
  }
}

// Ads
.thea-ad {
  background: $bg-color;
  padding: 1rem;

  .adsense {
    line-height: 0;
    text-align: center;
  }
}